<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link rel="shortcut icon" href="/images/statics/favicon.png">
  <title>Document</title>
</head>
<body>
  <header id="js_header" class="ly_header">
    <div class="ly_header_inner">
      <div class="bl_logo">
        <a href="#">
          <img src="/images/statics/logo.png" alt="site_logo">
        </a>
      </div>
      <div class="bl_chatInput">
        <div class="bl_chatInput_myIcon"><img src="/images/icons/01.svg" alt="my_icon" style="width: 20px;"></div>
        <input type="text" class="bl_chatInput_name" id="js_chatInput_name">
        <input type="text" class="bl_chatInput_msg" id="js_chatInput_msg">
        <button class="el_btn bl_chatInput_sbm" id="js_chatInput_sbm">✈</button>
      </div>
    </div>
    <div class="bl_pocket">
      <img src="/images/statics/coin.svg" alt="N-coin" class="el_coin">
      <span></span>
    </div>
    <div class="bl_basket">
      <img src="" alt="">
      <span></span>
    </div>
  </header>
  <main id="js_main" class="ly_main">
    <section class="ly_sectTop">
      <h2 class="el_lv2Heading">ここはどこ？</h2>
      <article class="bl_greeting">
        <div class="bl_greeting">
          <div class="bl_greeting_imgWarpper"><img src="/images/statics/greeting.png" alt="welcome_image"></div>
          <div class="bl_greeting_txt">
            <p>ここはなんちゃってショッピングができるポートフォリオサイトです。楽しんでいってください。</p>
            <p>弾幕チャットをするとお金が増えます。</p>
          </div>
        </div>
      </article>
      <article class="bl_chatView">
        <div class="bl_chatView_inner" id="js_chatView"></div>
      </article>
    </section>
    <section class="ly_sectSelling">
      <h2 class="el_h2">販売品</h2>
      <div class="bl_cardUnit bi_cardUnit3">
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/app.svg" alt="app_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">作ったものとか</h3>
        </div>
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/personnel.svg" alt="personnel_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">個人情報</h3>
        </div>
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/waste.svg" alt="waste_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">無駄遣い</h3>
        </div>
      </div>
    </section>
    <section class="ly_sectBought">
      <h2 class="el_h2">購入済み</h2>
      <div class="bl_cardUnit bl_cardUnit5">
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="" alt=""></figure>
          <h3 class="bl_card_ttl bl_card_ttl__sm">購入品1</h3>
        </div>
      </div>
    </section>
  </main>
</body>
<script>
</script>
</html>
