  <%- include('./partial/header', { ss }) %>
  <main id="js_main" class="ly_main">
    <section class="ly_section">
      <h2 class="el_h2">ここはどこ？</h2>
      <div class="bl_mediaUnit bl_mediaUnit2">
        <div class="bl_media">
          <div class="bl_media_imgWarpper"><img src="/images/statics/greeting.png" alt="welcome_image"></div>
          <div class="bl_media_txt">
            <p>ここはなんちゃってショッピングができるポートフォリオサイトです。</p>
            <p>弾幕チャットをするとお金が増えます。</p>
            <p>楽しんでいってください。</p>
          </div>
        </div>
        <div class="bl_media bl_chatView" id="js_chatView">
          <%- include('./partial/chatView', { chatLog, ss })  %>
            </div>
          </div>
        </div> <!-- /.bl_media .bl_chatView -->
      </div> <!-- /.bl_mediaUnit .bl_mediaUnit2" -->
    </section>
    <section class="ly_section">
      <h2 class="el_h2">販売品</h2>
      <div class="bl_cardUnit bi_cardUnit3">
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/app.svg" alt="app_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">作ったものとか</h3>
        </div>
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/personnel.svg" alt="personnel_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">個人情報</h3>
        </div>
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/waste.svg" alt="waste_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">無駄遣い</h3>
        </div>
      </div>
    </section>
    <section class="ly_section">
      <h2 class="el_h2">購入済み</h2>
      <div class="bl_cardUnit bl_cardUnit5">
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/items/01.png" alt=""></figure>
          <h3 class="bl_card_ttl bl_card_ttl__sm">購入品1</h3>
        </div>
      </div>
    </section>
  </main>
  
  <%- include('./partial/footer') %>

</body>
</html>
