
@function p2r($size) {  
  @return ($size / 16) + rem;
}
$gray1: #f7f7f7;
$gray2: #f0ece7;
$gray3: #ddd;
$gray4: #aaa;



body, input {
  font-family: 'Hiragino Maru Gothic ProN', 'Hiragino Maru Gothic Pro', sans-serif;
}

.ly_header {
  background-color: #fff;
  padding: p2r(20) p2r(20);
  display: flex;
  align-items: center;
}
.un_logo {
  margin-left: 1vw;
  padding: p2r(10) p2r(15);
  border: solid 1px #020202;
  box-shadow: 2px 2px 3px #aaa;
  border-radius: 10px;
  background-color: $gray2;
  font-size: p2r(10);
}

.un_logo > img {
  width: 40px;
  height: 30px;
}

.bl_chatInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: p2r(30);
  p:first-of-type {
    border-radius: 3px;
    padding: p2r(5);
    background-color: #ddd;
    color: #333;
    font-size: p2r(12);
    margin-right: 5px;
  }
}

.bl_chatInput_name, .bl_chatInput_msg {
  background-color: #fff;
  outline: 0;
  border-radius: 3px;
  border: 2px solid #777;
  height: 100%;
}

 .bl_chatInput_name {
  position: relative;
  z-index: 10;
  padding: 0 5px;
  width: 6rem;
  &:focus, &:active {
    background-color: #f7f7f7;
  }
}

.bl_chatInput_msg {
  position: relative;
  right: 3px;
  width: 15rem;
  border-left: none;
  padding-left: 10px;
  &:focus, &:active {
    background-color: #f7f7f7;
  }
}

.hp_ph_red::placeholder {
  color: #ee4d4d;
}

.bl_chatInput_sbm {
  top: -1px;
  height: p2r(30);
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #0a0a0a;
  padding: p2r(5);
  background-color: #eee;
  &:active {
    background-color: #aaa;
  }
  & > img {
    width: p2r(20);
    height: p2r(20);
  }
}


.el_btn {
  outline: none;
  position: relative;
  cursor: pointer;
  &:active {
    top: 1px;
    left: 1px;
    box-shadow: none;
  }
}

.el_chatInput_icon {
  margin-left: 5px;
  width: p2r(30);
  height: p2r(30);
  cursor: pointer;
}

.bl_shopping {
  display: flex;
  margin-right: 1vw;
}
.bl_shopping_balance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl_shopping_basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // & > img {
    // width: p2r(15);
  // }
  & > span {
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 0%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: p2r(3);
    border-radius: 5px;
    background-color: $gray4;
  }
}

.ly_main {
  margin-top: 0;
}


.ly_section {
  background-color: #f7f7f7;
  // margin-top: p2r(30);
  padding: 130px;
  &:nth-of-type(even) {
    margin-top: 0;
    background-color: #eee;
  }
}

.el_h2 {
  margin-top: p2r(10);
}

.bl_mediaUnit {
  margin-top: p2r(10);
  height: 30vh;
  &2 {
    display: flex;
  }
}

.bl_media {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  width: 50%;
}

.bl_chatView {
  background-color: lightblue;
  padding: p2r(20);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.bl_talk {
  // background-color: lightyellow;
  display: flex;
  align-items: center;
  padding: 0 0 0 100px;

  &.bl_tank__another{
    // background-color: lightskyblue;
    flex-direction: row-reverse;
    padding: 0 100px 0 0;
    svg {
      transform: scale(-1, 1);
    }
    .bl_talk_msg {
      border-radius: 0px 10px 10px 10px;
      background-color: white;
      padding: 5px;
    }
  }
}

.bl_talk_msg {
  border: black 1px solid;
  border-radius: 10px 0px 10px 10px;
  background-color: white;
  padding: 5px;
}

.bl_talk_profile {
  text-align: center;
}


.bl_cardUnit {
  display: flex;
}

.bl_card {
  margin: 3px;
  border: black 1px solid;
}

/* --------------------------------
 * item.ejs
 * -------------------------------- */

 .bl_item {
  background-color: lightcoral;
  margin-top: 50px;
 }

.bl_item_img {
  background-color: lightblue;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.bl_item_text {
  background-color: lightgrey;
}

.bl_item_text_ttl {
  margin-top: 5px;
}

.bl_item_text_reputation {
  background-color: white;
  margin-top: 5px;
  svg {
    width: 16px;
    height: 16px;
    fill: #FFA41D;
  }
}

.bl_item_text_description {
  background-color: lightsteelblue;
  margin-top: 5px;
}

.bl_buyBox {
  background-color: lightpink;
}


.bl_footer {
  margin-top: p2r(50);
  padding: p2r(30);
  background-color: lightseagreen;
  text-align: center;
}

.un_pickIcon {
  display: none;
  position: absolute;
  border: solid 1px $gray4;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #020202;
  padding: p2r(10);
  width: 30vw;
  background-color: #fff;
  & > svg {
    margin: 3px;

    &:hover {
  border: solid 1px $gray3;
  box-shadow: 1px 1px 2px $gray4;
  transform: scale(1.2);

    }
  }
}


/* --------------------------------
 * もこもこ
 * -------------------------------- */
 .un_moko {
  position: absolute;
  &_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/icons/moko1.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
    font-size: 12px;
    animation: fuwafuwa 1.5s linear infinite;
    & > img {
      width: 15px;
      animation: kurukuru 0.7s linear infinite;
    }
  }
  &_text {
    margin-left: 5px;
  }
}

@keyframes kurukuru {
  0% { transform: rotateY(0deg) }
  100% { transform: rotateY(360deg) }
}
@keyframes fuwafuwa {
  0% { transform:translateX(0px) }
  20% { transform:translateX(15px) }
  30% { transform:translateX(15px) }
  50% { transform:translateX(0px) }
  70% { transform:translateX(-15px) }
  80% { transform:translateX(-15px) }
  100% { transform:translateX(0px) }
}


/* --------------------------------
 * helper
 * -------------------------------- */

.hp_icon_ss {
  width: p2r(16);
  height: p2r(16);
}

.hp_icon_s {
  width: p2r(25);
  height: p2r(25);
}

.hp_icon_m {
  width: p2r(30);
  height: p2r(30);
}

.hp_icon_l {
  width: p2r(45);
  height: p2r(45);
}

.hp_font_ss {
  font-size: p2r(10);
}
.hp_font_s {
  font-size: p2r(14);
}
