
@function p2r($size) {  
  @return ($size / 16) + rem;
}

.ly_header {
  background-color: lightgreen;
  // margin-top: 0;
  padding: p2r(5) p2r(20);
  display: flex;
}


.bl_logo > img {
  // display: block;
  width: 100px;
}

.bl_chatInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el_chatInput_myIcon {
  // transform: scale(-1,1);
  width: p2r(40);
  height: p2r(40);
}

.bl_pocket {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl_basket {
  background-color: lightblue;
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    width: 3em;
  }
  & > span {
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

.ly_main {
  margin-top: 0;
}

.ly_section {
  background-color: #ffd8f9;
  margin-top: p2r(30);
}

.el_h2 {
  margin-top: p2r(10);
}

.bl_mediaUnit {
  margin-top: p2r(10);
  &2 {
    display: flex;
  }
}

.bl_media {
  background-color: lightgreen;
  display: flex;
  align-items: center;
}

.bl_chatView {
  background-color: lightblue;
  padding: p2r(20);
  display: flex;
  flex-direction: column;
}

.bl_talk {
  // background-color: lightyellow;
  display: flex;
  align-items: center;
  padding: 0 0 0 100px;

  &.bl_tank__another{
    // background-color: lightskyblue;
    flex-direction: row-reverse;
    padding: 0 100px 0 0;

    svg {
      transform: scale(-1, 1);
    }

    .bl_talkProfile_msg {
      border-radius: 0px 10px 10px 10px;
      background-color: white;
    }
  }
}

.bl_talkProfile_msg {
  border: black 1px solid;
  border-radius: 10px 0px 10px 10px;
  background-color: white;
}

.bl_talkProfile {
  text-align: center;
}

.bl_talkProfile > svg {
  // background-color:red;
  width: 40px;
  max-height: 50px;
}

// .bl_talkProfile_name {
  // background-color: mediumorchid;
// }

.bl_cardUnit {
  display: flex;
}

.bl_card {
  margin: 3px;
  border: black 1px solid;
}

/* --------------------------------
 * item.ejs
 * -------------------------------- */

 .bl_item {
  background-color: lightcoral;
  margin-top: 50px;
 }

.bl_item_img {
  background-color: lightblue;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.bl_item_text {
  background-color: lightgrey;
}

.bl_item_text_ttl {
  margin-top: 5px;
}

.bl_item_text_reputation {
  background-color: white;
  margin-top: 5px;
  svg {
    width: 16px;
    height: 16px;
    fill: #FFA41D;
  }
}

.bl_item_text_description {
  background-color: lightsteelblue;
  margin-top: 5px;
}

.bl_buyBox {
  background-color: lightpink;
}


.bl_footer {
  margin-top: p2r(50);
  padding: p2r(30);
  background-color: lightseagreen;
  text-align: center;
}