@charset "UTF-8";
body {
  font-family: "Hiragino Maru Gothic ProN", "Hiragino Maru Gothic Pro", sans-serif;
  letter-spacing: 1px;
}

.bl_chatInput_msg, .un_barrage {
  font-family: "Hachi Maru Pop", sans-serif;
}
.bl_chatInput_msg::placeholder, .un_barrage::placeholder {
  font-family: "Hiragino Maru Gothic Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.ly_header {
  background-color: #fff;
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
}

.un_logo {
  margin-left: 1vw;
  padding: 0.625rem 0.9375rem;
  border: solid 1px #020202;
  box-shadow: 2px 2px 3px #aaa;
  border-radius: 10px;
  background-color: #f0ece7;
  font-size: 0.625rem;
}

.un_logo > img {
  width: 40px;
  height: 30px;
}

.bl_chatInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  height: 1.875rem;
}
.bl_chatInput_random {
  cursor: pointer;
}
.bl_chatInput p:first-of-type {
  border-radius: 3px;
  padding: 0.3125rem;
  background-color: #ddd;
  color: #333;
  font-size: 0.75rem;
  margin-right: 5px;
}

.bl_chatInput_name, .bl_chatInput_msg {
  background-color: #fff;
  outline: 0;
  border-radius: 3px;
  border: 2px solid #777;
  height: 100%;
}

.bl_chatInput_name {
  position: relative;
  z-index: 10;
  padding: 0 5px;
  width: 6rem;
}
.bl_chatInput_name:focus, .bl_chatInput_name:active {
  background-color: #f7f7f7;
}

.bl_chatInput_msg {
  position: relative;
  right: 3px;
  width: 15rem;
  border-left: none;
  padding-left: 10px;
}
.bl_chatInput_msg:focus, .bl_chatInput_msg:active {
  background-color: #f7f7f7;
}

.bl_chatInput_sbm {
  top: -1px;
  height: 1.875rem;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #0a0a0a;
  padding: 0.3125rem;
  background-color: #eee;
}
.bl_chatInput_sbm:active {
  background-color: #aaa;
}
.bl_chatInput_sbm > img {
  width: 1.25rem;
  height: 1.25rem;
}

.el_btn {
  outline: none;
  position: relative;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.el_btn:active {
  top: 1px;
  left: 1px;
  box-shadow: none;
}

.el_chatInput_icon {
  margin: 0 5px;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}

.bl_shopping {
  display: flex;
  margin-right: 1vw;
}

.bl_shopping_balance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}

.bl_shopping_basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}
.bl_shopping_basket > span {
  position: absolute;
  z-index: 10;
  top: -5%;
  left: 58%;
  transform: translate(-50%, -50%);
  color: #3e62ad;
  font-size: 0.875rem;
  font-weight: bold;
  -webkit-text-stroke: 1px #3e62ad;
  letter-spacing: 1px;
}
.bl_shopping_basket > img {
  cursor: pointer;
}

.el_fiveStar {
  margin-right: 10px;
}
.el_fiveStar svg {
  fill: #FFA41D;
}
.el_fiveStar_self {
  cursor: pointer;
}

.ly_main {
  margin-top: 0;
}

.ly_section {
  background-color: #f0ece7;
  padding: 4.375rem 1.875rem;
}
.ly_section:nth-of-type(even) {
  margin-top: 0;
  background-color: #ddd;
}

.bl_mediaUnit {
  display: flex;
}
.bl_mediaUnit2 {
  height: 50vh;
}

.bl_media {
  border-radius: 10px;
}
.bl_media_welcome {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60vw;
  margin: 0 2vw;
  background: no-repeat center/auto 95% url("../images/statics/greeting.svg");
  background-color: white;
}
.bl_media_text {
  width: 80%;
  line-height: 3;
}

.bl_chatView {
  margin: 0 2vw;
  width: 35vw;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: white;
}

.bl_talk {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 5%;
}
.bl_talk.bl_tank__another {
  flex-direction: row-reverse;
  margin-left: unset;
  margin-right: auto;
}
.bl_talk.bl_tank__another svg {
  transform: scale(-1, 1);
}
.bl_talk.bl_tank__another .bl_talk_msg {
  border-radius: 0px 10px 10px 10px;
  background-color: white;
}

.bl_talk_msg {
  border: black 1px solid;
  border-radius: 10px 0px 10px 10px;
  background-color: #f0ece7;
  margin: 0 3px;
  padding: 5px;
}

.bl_talk_profile {
  text-align: center;
  padding-bottom: 10px;
}

.bl_cardUnit {
  display: flex;
}

.bl_cardUnit3 {
  justify-content: space-evenly;
}
.bl_cardUnit3 .bl_card {
  background-color: white;
  border-radius: 10px;
  padding: 1.875rem;
  width: 25vw;
  text-align: center;
}
.bl_cardUnit3 .bl_card_imgWrapper img {
  padding: 1.25rem;
  border-radius: 30%;
  background-color: #f7f7f7;
  width: 12.5rem;
  height: 12.5rem;
}
.bl_cardUnit3 .bl_card_title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}
.bl_cardUnit3 .bl_card_title img {
  margin-right: 0.3125rem;
}

.bl_cardUnit5 {
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 3.75rem;
}
.bl_cardUnit5:last-of-type {
  margin-bottom: 0;
}
.bl_cardUnit5 .bl_card {
  background-color: white;
  border-radius: 10px;
  padding: 0.625rem;
  width: 15vw;
  text-align: center;
}
.bl_cardUnit5 .bl_card_imgWrapper img {
  padding: 0.625rem;
  border-radius: 20%;
  background-color: #f7f7f7;
  width: 6.25rem;
  height: 6.25rem;
}
.bl_cardUnit5 .bl_card_ttl {
  margin-top: 1.25rem;
}

/* --------------------------------
 * item.ejs itemView.ejs
 * -------------------------------- */
.bl_item {
  text-align: center;
}
.bl_item_inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
}
.bl_item_imgWrapper img {
  border-radius: 10px 10px 10px 10px;
  width: 200px;
  box-shadow: 1px 1px 5px #ddd;
}

.bl_item_text {
  margin-left: 2.5rem;
  width: 31.25rem;
}
.bl_item_text_title {
  padding: 5px 0;
  font-size: 1.375rem;
}
.bl_item_text_reputation {
  margin: 0.625rem 0;
}
.bl_item_text_type {
  margin: 1.25rem 0 0.625rem 0;
  font-size: 1.125rem;
}
.bl_item_text_outline {
  line-height: 1.4;
}

.bl_item_text_description {
  margin-top: 5px;
  line-height: 1.4;
}
.bl_item_text_description p, .bl_item_text_description img, .bl_item_text_description iframe {
  margin-left: 1.25rem;
}
.bl_item_text_description a {
  margin: 0;
}
.bl_item_text_description h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.9375rem 0;
}

.bl_item_text_content {
  margin: 2.5rem 0;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
  background-color: #f0ece7;
  line-height: 1.4;
}
.bl_item_text_content h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.3125rem 0;
}
.bl_item_text_content p {
  margin-left: 1.25rem;
}

.bl_buyBox {
  margin-left: 2.5rem;
  padding: 1.25rem;
  border-radius: 10px;
  background-color: #f0ece7;
  line-height: 2;
}
.bl_buyBox .el_coin {
  margin-left: 10px;
}
.bl_buyBox > .el_btn {
  margin: 0.9375rem 0 0 0;
  box-shadow: 1px 1px 2px #aaa;
  padding: 0.5rem 1.5rem;
}

.bl_footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.625rem 0 1.25rem 45%;
  background-color: white;
}
.bl_footer_material {
  margin-left: auto;
  margin-right: 2vw;
  line-height: 1.4;
}
.bl_footer_material a::after {
  bottom: 1px;
}

.un_pickIcon {
  display: none;
  position: absolute;
  border: solid 1px #aaa;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #020202;
  padding: 0.625rem;
  width: 30vw;
  background-color: #fff;
}
.un_pickIcon > svg {
  margin: 3px;
}
.un_pickIcon > svg:hover {
  border: solid 1px #ddd;
  box-shadow: 1px 1px 2px #aaa;
  transform: scale(1.2);
}

/* --------------------------------
 * もこもこ
 * -------------------------------- */
.un_moko {
  position: absolute;
  z-index: 20;
}
.un_moko_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  font-size: 12px;
  animation: fuwafuwa 1.5s linear infinite;
}
.un_moko_inner > img {
  width: 15px;
  animation: kurukuru 0.7s linear infinite;
}
.un_moko_text {
  margin-left: 5px;
}

@keyframes kurukuru {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes fuwafuwa {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(15px);
  }
  30% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-15px);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* --------------------------------
 * unique class
 * -------------------------------- */
.un_barrage {
  position: fixed;
  z-index: 10000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  font-size: 60px;
  white-space: nowrap;
}

/* --------------------------------
 * element class
 * -------------------------------- */
.el_h2 {
  display: inline-block;
  margin: 0.625rem 0 1.875rem;
  padding: 1.25rem;
  background-color: white;
  border-radius: 3em 0.7em 2em 0.7em/0.7em 2em 0.7em 3em;
}

.el_coin {
  margin-right: 5px;
}

/* --------------------------------
 * helper
 * -------------------------------- */
.hp_icon_ss {
  width: 1rem;
  height: 1rem;
}

.hp_icon_s {
  width: 1.5625rem;
  height: 1.5625rem;
}

.hp_icon_m {
  width: 1.875rem;
  height: 1.875rem;
}

.hp_icon_l {
  width: 2.8125rem;
  height: 2.8125rem;
}

.hp_font_ss {
  font-size: 0.625rem;
}

.hp_font_s {
  font-size: 0.875rem;
}

.hp_font_red {
  color: #ee4d4d;
}

.hp_ph_red::placeholder {
  color: #ee4d4d;
}

.hp_centering {
  display: flex;
  align-items: center;
}

.hp_justify_center {
  justify-content: center;
}

.hp_marginTop_10 {
  margin-top: 0.625rem;
}

.hp_dummyBox {
  height: 0 !important;
  padding: 0 !important;
}

.hp_linkText {
  position: relative;
  display: inline-block;
  color: #3e62ad;
}
.hp_linkText::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #3e62ad;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.hp_linkText:hover::after {
  transform: scale(1, 1);
}
