

<p>ありがとうございます。</p>
<p>購入手続きが完了しました。</p>
<p><a href="http://localhost:3000/">トップページ</a>の購入済み商品をご確認ください。</p>
<footer class="modal__footer">
  <button class="el_btn" data-micromodal-close aria-label="Close this dialog window">ショッピングを続ける</button>
  <button class="el_btn el_btn el_btn_purchase" onclick="location.href='http://localhost:3000/'">トップに戻る</button>
</footer>
