

<p>ありがとうございます。</p>
<p>購入手続きが完了しました。</p>
<p><a href="">トップページ</a>の購入済み商品をご確認ください。</p>
<footer class="modal__footer">
  <button class="modal__btn modal__btn-primary">トップに戻る</button>
  <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">ショッピングを続ける</button>
</footer>

<footer class="modal__footer">
  <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">ショッピングを続ける</button>
</footer>