<div class="un_moko" id="js_<%= income %>">
  <div class="un_moko_inner">
    <span class="un_moko_text">+</span>
    <img src="https://ynyn.mixh.jp/a/test.svg" id="img">
    <span class="un_moko_text"><%= income.toLocaleString('ja-JP') %></span>
  </div>
</div>

