<div class="un_moko" id="js_<%= income %>">
  <% const random = ~~( Math.random () * 2) + 1; %>
  <div class="un_moko_inner" style="background-image: url('/images/icons/moko<%= random %>.png');">
    <span class="un_moko_text">+</span>
    <img src="/images/icons/coin.svg" id="img">
    <span class="un_moko_text"><%= income.toLocaleString('ja-JP') %></span>
  </div>
</div>